* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/bg.jpg);
    height: 96vh;
    position: relative;
    background-position: center center;
    background-size: max(1200px, 100vw);
}

.main .box {
    height: 96vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    width: 77vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 89px;
}

nav img {
    color: red;
    width: 184px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.paytext {

    height: calc(100% - 89px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    gap: 22px;
    padding: 0 30px;

}

.paytext> :nth-child(1) {
    font-weight: 900;
    font-size: 46px;
    text-align: center;
}

.paytext> :nth-child(2) {
    font-weight: bold;
    font-weight: 400;
    font-size: 26px;
    text-align: center;
}

.paytext> :nth-child(3) {
    font-weight: bold;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.spter {
    height: 8px;
    background-color: #403636;
}

.btn-lan {
    background-color: #1818188d;
    padding: 5px 26px 6px 26px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.619);
    border-radius: 4px;
    margin-right: 19px;
    cursor: pointer;
}


.btn-red-sm {
    background-color: #cb1212;
    color: rgb(255, 255, 255);
    padding: 7px 13px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #cb1212;
    cursor: pointer;
}

.btn-red-sm:hover {
    background-color: #c11119;
}

.btn-red {
    background-color: #cb1212;
    color: rgb(255, 255, 255);
    padding: 11px 25px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 25px;
    border: 1px solid #cb1212;
    cursor: pointer;
}

.btn-red:hover {
    background-color: #c11119;
}

.paytext div input {
    background-color: rgba(23, 23, 23, 0.5);
    padding: 18px 138px 17px 8px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    /* font-size: 900; */
    border: 1px solid rgba(229, 224, 224, 0.7);
    color: white;
}

.emailbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.first {
    display: flex;
    justify-content: center;
    margin: auto;
    color: white;
    max-width: 75vw;
    align-items: center;
    gap: 36px;

}

@media screen and (max-width: 1300px) {
    .first {
        flex-wrap: wrap;
    }

    nav {
        width: 101vw;
    }

    .emailbtn {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .paytext> :nth-child(1) {
        font-size: 32px;
    }

    .paytext> :nth-child(2) {
        font-size: 18px;
    }

    .paytext> :nth-child(3) {
        font-size: 18px;
    }

    .main {
        height: 72vh;
    }

    .main .box {
        height: 72vh;
    }

    .faq h2 {

        font-size: 42px;
    }

    .lastinput span {
        font-size: 21px;
    }

}

.tv1 {
    position: relative;
}

.tv1 img {
    width: 462px;
    position: relative;
    z-index: 10;
    margin: 79px 10px 10px 10px;
}

.tv1 video {
    position: absolute;
    top: 152px;
    right: 0;
    height: 194px;
    width: 471px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 11px 0px 0px 0
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

section.first>div :nth-child(2) {
    font-size: 24px;
    /* font-weight: bolder; */
    font-family: Arial, Helvetica, sans-serif;

}

.blksep {
    background-color: black;
    height: 60px;
}

.third video {

    top: 107px;
    height: 172px;
    width: 487px;
}

.faq h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: white;
    margin: auto;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 0 22px 0;
}

.faqbox {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}

.faqbox .faqboxinner {
    font-family: Arial, Helvetica, sans-serif;
    width: 73vw;
    background-color: #2d2d2d;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    padding: 28px 14px 23px 19px;
    cursor: pointer;

}

.faqboxinner:hover {
    background-color: #414141;
}

.faqbox .faqboxinner svg {
    color: white;
}

.lastinput {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    gap: 16px;
}

.lastinput span {
    color: white;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.lastinput div input {
    background-color: rgba(23, 23, 23, 0.5);
    padding: 18px 138px 17px 8px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    /* font-size: 900; */
    border: 1px solid rgba(229, 224, 224, 0.7);
    color: white;
}

footer {
    color: white;
    max-width: 76vw;
    margin: auto;
}

.footer a {
    color: white;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.footercl {
    display: flex;
    flex-direction: column;
    gap: 23px;
    font-size: 14px;
}

footer .que{
    padding-bottom: 27px;
}

footer .que a{
    padding-bottom: 27px;
    color: white;
}

.lanend button {
    margin-left: 177px;
}

.lanend div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    margin-left: 179px;
    margin-top: 22px;

}

@media screen and (max-width: 1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }

    .faq h2 {
        font-size: 32px;
    }
}

.blksep-s {
    background-color: black;
    height: 30px;
}